body {
    font-family: arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}



.container {
    text-align: center;
    background-color: white;
    padding:20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0 , 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #333
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.cell:hover {
    background-color: #ddd;
}

.cell.x {
    color:#e74c3c
}

.cell.o {
    color: #3498db;
}


#resetButton {
    padding: 10px 20px;
    font-size: 1em;
    background-color: bisque;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#resetButton:hover {
    background-color: gray;
}

.game-status {
    margin-top: 15px;
    font-size: 1.2em;
    color: #555;
}